@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  background: #000000;
  scroll-behavior: smooth;
  overscroll-behavior-y: none;
}

body {
  background: #000000;
  color: #e5e5e5;
}
.embla {
  position: relative;
}
.embla__viewport {
  -webkit-overflow-scrolling: touch;
}
.embla__container {
  display: flex;
}
.embla__slide {
  user-select: none;
}
/* opsional: hide native scrollbar on some browsers */
.embla__viewport::-webkit-scrollbar {
  display: none;
}

.meta-strip {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0px;
  padding: 6px 10px;
  font-size: 13px;
  backdrop-filter: blur(4px);
  background-color: #0a0a0a81;
}

.embla__slide img {
  transition: transform 0.3s ease;
}

.embla__slide:hover img {
  transform: scale(1.2);
}

/* Ukuran scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Area jalur scrollbar */
::-webkit-scrollbar-track {
  background: #121212;
}

/* Batang scrollbar */
::-webkit-scrollbar-thumb {
  background: #333333;
  border-radius: 4px;
}

/* Batang scrollbar saat di-hover */
::-webkit-scrollbar-thumb:hover {
  background: #555555;
}

/* Dukungan standar Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #333333 #121212;
}
